body {
    font-family: 'Poppins', sans-serif;

    background-image: url("../img/fundo-financeiro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* overlay escuro */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.151);
    z-index: -1;
}

.container {
    flex: 1;
}

/* NAVBAR */
.navbar {
    background: rgba(30, 34, 30, 0.594);
    backdrop-filter: blur(6px);
}

.navbar-brand {
    font-weight: 600;
}

.navbar a {
    color: white !important;
    font-size: 14px;
}

.navbar a:hover {
    color: #4CAF50 !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* TÍTULO PÁGINA */
.titulo-pagina {
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

/* SISTEMA */
.titulo-sistema {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 4px;
}

.frase-motivacional {
    color: #cfcfcf;
    font-size: 13px;
    margin-bottom: 5px;
}

/* GRID HOME */
.grid-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

/* CARD HOME */
.card-home {
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);

    min-height: 160px;
    padding: 18px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;

    transition: 0.2s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.card-home:hover {
    transform: translateY(-5px);
    background: rgba(0, 0, 0, 0.7);
}

.card-home i {
    font-size: 32px;
    margin-bottom: 10px;
    color: #4CAF50;
}

.card-home span {
    font-size: 16px;
    font-weight: 500;
}

.card-home p {
    font-size: 12px;
    margin-top: 8px;
    color: #d6d6d6;
    line-height: 1.4;
}

/* FOOTER */
.footer {
    padding: 20px 0;
    background: rgba(30, 34, 30, 0.594);
    backdrop-filter: blur(6px);
    color: #e0e0e0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}